@inject SignInManager<AppUser> signInManager;
@model BookingViewModel
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="post" asp-area="management" asp-action="newguest" asp-controller="booking">
                <div class="modal-header">
                    <h5 class="modal-title">Customer Details</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="booking.Guest.Name">Full Names</label>
                            <input asp-for="booking.Guest.Name" class="form-control" placeholder="full names">
                            <span asp-validation-for="booking.Guest.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="booking.Guest.Email">Email</label>
                            <input asp-for="booking.Guest.Email" class="form-control" placeholder="email@example.com">
                            <span asp-validation-for="booking.Guest.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="booking.Guest.Phone">Phone</label>
                            <input asp-for="booking.Guest.Phone" class="form-control" placeholder="08012345678">
                            <span asp-validation-for="booking.Guest.Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="booking.Guest.Address">Address</label>
                            <input asp-for="booking.Guest.Address" class="form-control" placeholder="Full Address">
                            <span asp-validation-for="booking.Guest.Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
