@inject SignInManager<AppUser> signInManager;
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div id="calendar" class="app-fullcalendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts
    {
    <script type="text/javascript">

        function OnComplete() {
            $(".modal").hide();
            $(".fade").hide();
        }

    </script>
}