@model ForgotPasswordViewModel
<div class="auth-form">
    <form method="post">
        <div class="form-group">
            <label asp-for="Email"><strong>Email</strong></label>
            <input asp-for="Email" class="form-control" placeholder="hello@example.com">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block">Send</button>
        </div>
    </form>
</div>
