@inject SignInManager<AppUser> signInManager;
@model ProfileViewModel;
@{

    Layout = "../Shared/_Layout";
}
<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Basic Information</h4>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="All"></div>
                        <div class="basic-form">
                            <form data-ajax="true" data-ajax-method="post" data-ajax-complete="OnComplete">
                                <input asp-for="ID" type="hidden" />
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>First Name</label>
                                        <input asp-for="FirstName" class="form-control" placeholder="First Name">
                                        <span class="text-danger" asp-validation-for="FirstName"></span>
                                    </div> <div class="form-group col-md-6">
                                        <label>Last Name</label>
                                        <input asp-for="LastName" class="form-control" placeholder="Last Name">
                                        <span class="text-danger" asp-validation-for="LastName"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Email Address</label>
                                        <input asp-for="Email"  class="form-control" placeholder="Email Address">
                                        <span class="text-danger" asp-validation-for="Email"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Phone Number</label>
                                        <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number">
                                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Address</label>
                                        <textarea asp-for="Address" class="form-control" rows="4" id="comment"></textarea>
                                        <span class="text-danger" asp-validation-for="Address"></span>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Update Info</button> &nbsp;
                                <a href="javascript:void()" data-toggle="modal" data-target=".bd-example-modal-md" class="text-primary">Change Password</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ChangePasswordPopup",new ChangePasswordViewModel())
@section Scripts{
    <script type="text/javascript">
        function OnFailure() {
            $(".close").click();
            toastr.error("password strength is too weak");
        }
        function OnSuccess(){
            $(".close").click();
            toastr.success("password changed successfully");
        }
        function OnComplete() {
            $(".close").click();
            toastr.success("record updated successfully");
        }
    </script>
  }