@inject SignInManager<AppUser> signInManager;
@model AboutViewModel
<div class="modal fade bd-example-modal-md" id="delete-@Model.offer.ID" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form method="post" asp-area="management" asp-action="deleteoffer" asp-controller="cmsconfiguration">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure you want to delete this item?</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input asp-for="@Model.offer.ID" value="@Model.offer.ID" type="hidden">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No Close</button>
                    <button type="submit" class="btn btn-primary">Yes Proceed</button>
                </div>
            </form>
        </div>
    </div>
</div>
